
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/HomeRegister.css" rel="stylesheet" type="text/css" />

<a href="/Mudur/Home/RegisterMudur"><img class="img1" src="~/Content/Images/boss.png" alt="" /></a>

<a href="/Mudur/Home/RegisterOgretmen"><img class="img2" src="~/Content/Images/teacher.png" alt="" /></a>

<a href="/Mudur/Home/RegisterOgrenci"><img class="img3" src="~/Content/Images/classmates.png" alt="" /></a>