@model IEnumerable<NotOtomasyonu.DersDb>
@{
    ViewBag.Title = "DersSecimi";
}
<link href="~/Content/DersSecimi.css" rel="stylesheet" type="text/css" />
@{
    
}
<div class="tabloDiv">
    <table class="table table-striped">
        <tr>
            <th>DersId</th>
            <th>DersAdı</th>
            <th></th>
        </tr>
        @foreach (DersDb aDers in Model)
        {
            <tr>
                <td>@aDers.DersId</td>
                <td>@aDers.DersAdi</td>
                <td>
                    @Html.ActionLink("Ekle", "SecilenDers", new { dersId = aDers.DersId}, new { @class = "btn btn-custom4 btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>
